---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "overrides",
        "bootstrap",
        "font-awesome",
        "utils",
        "newsletter-promo"
;

body {
    padding-top: 170px;
    background: #333;
    color: #DADADA;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

body.homepage {
    padding-top: 5em;
    color: #C5C5C5;
    font-size: 2em;

    .navbar-nav {
        font-size: 14px;
    }
}

body.post {
    i {
        color: #fff;
    }
}

.homepage {
    color: #c5c5c5;

    .jumbotron {
        color: white;
        background-image: url('/assets/images/bg.png');
        background-size: auto;
    }

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
}

.new-products {
    h3,h2 {
        color: white;
        a {
            text-decoration: none;
        }
    }
    .thumbnail {
        min-height: 485px;
        background: #565656;
        border: 1px solid #666;
        color: #dadada;
        a:visited {
            color: #fff;
        }
        .caption {
            color: #dadada;
        }
    }
}

a {
    color: white;
    text-decoration: underline;
}

footer a {
    color: white !important;
    text-decoration: underline;
}

a.btn,
.nav-pills a {
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #999;
}

a:visited {
    color: #dadada;
}

.buy-now {
    &:hover {
        background-color: #FFDD75;
        color: #444;
    }

    &:visited {
        color: #333;
        background-color: #FFC40E;
    }

    background-color: #FFC40E;
    text-decoration: none;
    i {
        color: #333;
    }
    color: #333;
    border: none;
}

p {
    line-height: 1.65;
}

li {
    line-height: 2.2em;
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 70px;
    }
}

@media screen and (max-width: 320px) {
    .nav-pills > li > a {
        font-size: 1em !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', sans-serif;
    color: #fff;
}

table {
    background: #333;
    color: #DADADA;
    td {
        border: 1px solid #4d4d4d;
        border-width: 0 0 1px;
    }
}

.gist td {
    border-width: 0;
}

.nav-pills {
    > li {
        margin-right: 1em;
    }

    > li {
        > a {
            color: white;
        }
    }

    > li.active {
        a, a:focus {
            background: #454545;
        }
    }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
    background: #454545;
}

.nav-pills > li.active > a:hover,
.nav-pills > li > a:hover {
    background: #555;
}

.nav-pills > li > a {
    font-size: 1.2em;
}

.course-overview {
    p {
        padding: 0;
        margin: 0;
    }

    .title {

    }

    .desc {
        color: #949494;
        font-size: .9em;
    }
}

i {
    color: #FFC40E;
}

.panel {
    border: 1px solid #4d4d4d;
}

.panel-default > .panel-heading {
    background: #3d3d3d;
    color: #DADADA;
    border-bottom: 1px solid #4d4d4d;
}

.navbar-fixed-top, .main-nav {
    border-bottom: 1px solid #404040;
    z-index: 999;
}

.main-nav {
    a {
        text-decoration: none;
    }
}

.jumbotron {
    background: #3a3a3a url('../assets/images/mountains.png');
    background-size: cover;
    min-height: 20em;
    width: 100%;

    h1, h5{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: #FFC40E;
    }

    h1 {
        font-size: 2em;
    }
}

.intro-video {
    iframe.video {
        background: #555;
        border: 5px solid #555;
    }
}

.video-wrapper {
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.navbar-brand {
    padding: 7px 15px !important;
}

body.post {
    .author-card {

        margin: 2em 0;

        .name {
            margin: 0 0 0.5em;
        }

        .role {
            text-transform: uppercase;
            margin: 0 0 0.5em;
        }

        img.avatar {
            border-radius: 50%;
            padding: 2px;
            border: 1px solid #ccc;
            float: left;
            margin: 0 10px 0 0;
            width: 75px;
            height: 75px;
        }

        .bio {
            clear: both;
            margin-top: 0.75em;
        }
        
        i {
            &.fa.fa-github {
                color: black;
            }
            &.fa.fa-twitter {
                color: #27B4F5;
            }

            color: #27B4F5;
        }
        
        .links {
            a {
                text-decoration: none !important;
                box-shadow: none !important;
                transition: none !important;
                color: black;
            }
        }
    }
}

.share {
    a {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        display: inline-block;
        text-indent: -9999px;
    }
    a.facebook {
        background: url('../assets/images/social/webicon-facebook.svg') no-repeat;
    }

    a.twitter {
        background: url('../assets/images/social/webicon-twitter.svg') no-repeat;
    }

    a.linkedin {
        background: url('../assets/images/social/webicon-linkedin.svg') no-repeat;
    }

    a.googleplus {
        background: url('../assets/images/social/webicon-googleplus.svg') no-repeat;
    }
}

aside {
    .callout {
        background: #222;
        padding: 0.25em 1em;
    }
}

footer {
    font-size: 14px;
    margin-top: 3em;
    padding: 2em;
    width: 100%;
    background: #222;
    color: #999;
}

.newsletter-signup {
    margin-bottom: 1em;
    input[type=text] {
        background: #666;
        border: 1px solid #111;
        color: #eee;
    }

    .input-group-btn {
        button {
            //background: #666;
            border: 1px solid #111;
        }
    }
}


body.post {
    .page-content {
        a {
            color: #ad141e;
            text-decoration: none;
            box-shadow: 0 1px 0 0 lighten(#ad141e, 50%);
            transition: color 0.1s linear;
        }

        a:visited {
            color: #ad141e;
        }

        a:hover {
            box-shadow: 0 1px 0 0 rgba(173,20,30,0.6);
        }
        .pager {
            li > a {
                padding: 0 14px;
                color: #337ab7;
                box-shadow: none;
            }
        }
    }

    .post-title {
        line-height: 1.4em;
        a, a:visited {
            color: #000;
            box-shadow: 0 1px 0 0 lighten(#000, 70%);
        }
        a:hover {
            box-shadow: 0 1px 0 0 rgba(0,0,0,0.8);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: #000;
    }

    background: #fff;
    color: #444;

    > .container {
        max-width: 750px;
    }

    .post-header {
        margin: 0 0 2em;
        padding: 2em;
        text-align: center;
        border-bottom: 1px solid #dedede;
    }

    .author-card img.avatar {
        width: 100px;
        height: 100px;
    }

    .post-content {
        img { max-width: 100%; margin-top: 1em; margin-bottom: 1em; padding: 5px; border: 1px solid #efefef; border-width: 1px 0; }
    }
}

article.post {
    .author-card {
        p.post-bio {
            margin-left: 150px;
        }
    }
}

.modal {
    .modal-content {
        background-color: #444444;
    }
    .modal-header {
        border-bottom: #676767;

        button.close {
            color: #fff;
        }
    }
}

.video-responsive {
    overflow:hidden;
    padding-bottom: 56.25%;
    position:relative;
    height:0;
    width: 100%;
}
.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (min-width: 768px) {
    .media-breakout-lg {
        margin-left: -5rem;
        margin-right: -5rem;
    }

    .media-breakout {
        margin-left: -3rem;
        margin-right: -3rem;   
    }
}
