$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:          16px;
$line-height-base:        1.5;
$font-size-h1:            floor(($font-size-base * 2));
$font-size-h2:            floor(($font-size-base * 1.75));
$font-size-h3:            ceil(($font-size-base * 1.5));
$font-size-h4:            ceil(($font-size-base * 1.2));
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85));

$jumbotron-font-size:            ceil(($font-size-base * 1.2));
$jumbotron-heading-font-size:    ceil(($font-size-base * 3));
